*{
    margin:0px;
    padding:0px;
}
body{
    background: rgb(225, 247, 249);
}
.selectwrap{
    position: absolute;
    width:80%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: rgb(242, 242, 248);
    background: linear-gradient(90deg, rgb(225, 228, 250) 0%, rgba(201,246,246,1) 100%);
    padding: 30px;
    -webkit-box-shadow: 10px 10px 8px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 8px -9px rgba(0,0,0,0.75);
     box-shadow: 10px 10px 8px -9px rgba(0,0,0,0.75);

}
.selectwrap img{
    width:80%;
    height: 200px;
    border-radius: 10px;
}
h1{
    color: black;
    margin-top:220px;
    width:300px
}
.selectp{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    margin-top:80px;
}

.selectbutton{
    display:flex;
    flex-wrap: wrap;
    gap:30px;
    max-width: 500px;
    justify-content: center;
}
.selectbutton button{
    width:200px;
}
.bookwrap{
    background: rgb(197,204,251);
    background: linear-gradient(90deg, rgba(197,204,251,1) 0%, rgba(200,252,252,1) 100%);
    width:300px;
    position:absolute;
    top:50px;
    left:50%;
    transform: translate(-50%);
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding: 20px 30px;
    border-radius: 10px;
}

.bookwrap h2{
    font-family: "Lobster";
    margin-bottom: 30px;
}
.bookwrap button{
    width:200px;
    background:rgb(35, 9, 112) ;
}
.close{
    position: absolute;
    top:5%;
    right: 5%;
    width: 30px;
    height: 30px;
}

.viewwrap{
    background: rgb(197,204,251);
    background: linear-gradient(90deg, rgba(197,204,251,1) 0%, rgba(200,252,252,1) 100%);
    width:300px;
    max-height: 400px;
    min-height: 100px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display:flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 30px;
    border-radius: 10px;
    padding-top: 60px;
    overflow-y: auto; 
    overflow-x: hidden;
}

.eachbookdiv{
    width:300px;
    height: 150px;
    border-radius: 10px;
    background: white;
    padding-right: 10px;
    -webkit-box-shadow: 10px 10px 9px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 9px -8px rgba(0,0,0,0.75);
box-shadow: 10px 10px 9px -8px rgba(0,0,0,0.75);
margin-bottom: 20px;
}
.eachbookdiv h3{
    margin-top: 10px;
    font-family: "Lobster";
    margin-left: 10px;
    margin-bottom: 10px;
}
.eachbookdiv div{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}
.eachbookdiv div h5{
    font-family: "Neuton";
}

.eachbookdiv p{
    margin-left: 10px;
}

.h3ofcb{
    margin-bottom: 10px;
    font-family: "Neuton";
}
.checkdiv div{
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
}
.checkdiv p{
    width: 230px;
}
.checkinput{
    width:20px;
}