.viewbookmainwrap{
    width:350px;
    min-height: 500px;
    background: rgb(197,204,251);
background: linear-gradient(90deg, rgba(197,204,251,1) 0%, rgba(127,210,231,1) 100%);
    border-radius: 10px;
    position: absolute;
    margin-top: 100px;
    left: 50%;
    transform: translate(-50%);
    -webkit-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
     box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
     display: flex;
     flex-direction: column;
     align-items: center;
}
.viewbookmainwrap h2{
    font-family: algerian;
    font-size: 18px;
    margin-top: 20px;
}

.innerviewdiv{
width:320px;
background-color:rgb(228, 240, 245);
min-height: 400px;
border-radius: 10px;
margin-top: 10px;
padding: 10px;
margin-bottom: 10px;
}

.innerviewdiv h3{
    font-family: "Lobster";
}
.pview{
    margin-top: 10px;
}
.tview{
display: flex;
gap:20px;
}
.itview{
display: flex;
justify-content: center;
align-items: center;
gap:5px;
margin-top: 20px;
}
.itview img{
width: 18px;
height: 18px;
}
.itview p{
    font-size: 15px;
}
.tiv{
    width:175px;
}
.tiv p{
    text-align: center;
}
.rview{
    display:flex;
}
.rviewimg{
    width: 150px;
    height: 150px;
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px -9px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px -9px rgba(0,0,0,0.75)
}

.chimg{
    width: 20px;
    height: 20px;
}
.chdiv{
    display: flex;
    gap:5px;
}
.opdiv{
    display:flex;
    gap:10px;
}
.innerviewdiv h4{
    font-family: "Neuton";
    margin-bottom: 10px;
}
.remarksp{
    margin-top: 20px;
}